/* Typewriter.css */

.typewriter {
    display: inline-block;
    overflow: hidden; /* Ensures the content is hidden during typing */
    border-right: .15em solid orange; /* Cursor effect */
    white-space: nowrap; /* Prevents line breaks */
    animation: typing 2s steps(30, end) forwards; /* Remove caret blinking from here */
}

.typing {
    animation: typing 2s steps(30, end) forwards, blink-caret 0.75s step-end infinite; /* Add blinking during typing */
}

@keyframes typing {
    from { width: 0; }
    to { width: 100%; }
}

@keyframes blink-caret {
    0%, 100% { border-color: transparent; }
    50% { border-color: orange; }
}

/* Loader CSS */
.loader {
    border: 4px solid rgba(255, 255, 255, 0.3);
    border-top: 4px solid #fff;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    animation: spin 1s linear infinite;
    margin: auto; /* Center the loader */
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
